# Ignore all V*.json files inside knowledge/iterations
knowledge/iterations/V*.json
knowledge/iterations/V*.png
knowledge/iterations/V*.3dm
knowledge/iterations/I*.json

# Ignore everything inside knowledge/iterations (png, json, ...)
# knowledge/iterations/*

# Ignore specific files (based on iterations)
knowledge/ml_output.json
knowledge/compiled_ml_data.json
knowledge/geometry_metrics.json
knowledge/ml_processed.flag

# Ignore Python cache
__pycache__/
*.pyc
knowledge/compiled_ml_data.json
knowledge/geometry_metrics.json
knowledge/ml_output.json
server/__pycache__/chat_server.cpython-310.pyc
